:root {
    color-scheme: dark light;
    --text-color: #fbfbfe;
    --background-color: #1c1b22;
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: #111;
        --background-color: #fdfdfd;
    }
}

body {
    margin: 0;

    color: var(--text-color);
    background-color: var(--background-color);
}

.top {
    height: 40vh;
    height: 40dvh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-size: x-large;
}

.bottom {
    height: 60vh;
    height: 60dvh;
}

.vector {
    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    padding: 0 0.2em;

    font-family: monospace;
    font-size: x-large;

    --border-color: var(--text-color);
    --border-width: 1.5px;
    --hook-length: 0.4em;
    --right-hook-start: calc(100% - var(--hook-length));
    background:
        linear-gradient(to right, var(--border-color) var(--hook-length), transparent var(--hook-length) var(--right-hook-start), var(--border-color) var(--right-hook-start)) bottom / 100% var(--border-width) no-repeat,
        linear-gradient(to right, var(--border-color) var(--hook-length), transparent var(--hook-length) var(--right-hook-start), var(--border-color) var(--right-hook-start)) top / 100% var(--border-width) no-repeat,
        linear-gradient(var(--border-color) 0 0) left / var(--border-width) 100% no-repeat,
        linear-gradient(var(--border-color) 0 0) right / var(--border-width) 100% no-repeat;
}

.dial-circle {
    --dial-radius: 1.5em;
    --dial-thickness: 4px;

    position: relative;

    margin: 0 2px;

    height: calc(var(--dial-radius) * 2);
    aspect-ratio: 1;

    border: 2px solid var(--text-color);
    border-radius: 50%;

    .dial-line {
        position: absolute;
        top: calc(var(--dial-radius) - var(--dial-thickness) / 2);
        left: calc(var(--dial-radius) - var(--dial-thickness) / 2);

        height: 0px;
        width: 0px;

        transform-origin: calc(var(--dial-thickness) / 2);

        border: calc(var(--dial-thickness) / 2) solid var(--text-color);
        border-radius: var(--dial-thickness);
    }
}

.tutorial {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    /* Content of tutorial */
    > :first-child {
        padding: 0 10px;
        overflow-y: scroll;
    }

    /* Footer of tutorial */
    > :last-child {
        display: flex;
        justify-content: space-between;

        padding: 0 30px 50px;

        button {
            font-size: x-large;
        }
    }
}

.objective {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    font-style: italic;

    /* Completion checkbox */
    input {
        pointer-events: none;
        user-select: none;
    }
}

.progress-wrapper {
    width: 100%;
    margin: 20px 0;
}

.progress-meter {
    position: relative;
    bottom: 0;
    left: 0;

    height: 5px;

    content: '';
    background-color: #26bd26;
}

.formula {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.error {
    margin: auto;

    max-width: 100vh;

    padding: 12px;
}